# Папка с виртуальным окружением
venv/

# Игнорировать все файлы .env
*.env

# Не игнорировать файлы .env_example
!.env_example

# Папки с кэшами
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы конфигурации IDE
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Игнорировать файлы с данными
*.csv
*.parquet
*.json
*.txt
*.pkl
!sample.csv
!*requirements.txt
# *.pkl

llm_service/chroma_vector_store/

#ноутбук
notebooks/data.ipynb
example.log
services/tg_bot/bot_copy.py
services/base_llm/llm copy.py

services/chroma/vector_store
services/chroma/vector_store/*.bin
services/chroma/vector_store/*.sqlite3
services/chroma/vector_store/*.bin
services/chroma/vector_store/*.sqlite3

services/langfuse